/* Custom 
------------------------------------------------------------------------------*/

$sidebar-width: 300px;
$footer-height: 60px;
$header-height: 62px;

// Breakpoints
$large-breakpoint: 64em !important;
$medium-breakpoint: 42em !important;


/* Cayman theme variables 
------------------------------------------------------------------------------*/

// Headers
$header-heading-color: #fff !important;
$header-bg-color: #159957 !important;
$header-bg-color-secondary: #155799 !important;

// Text
$section-headings-color: #159957 !important;
$body-text-color: #606c71 !important;
$body-link-color: #1e6bb8 !important;
$blockquote-text-color: #819198 !important;

// Code
$code-bg-color: #f3f6fa !important;
$code-text-color: #567482 !important;

// Borders
$border-color: #dce6f0 !important;
$table-border-color: #e9ebec !important;
$hr-border-color: #eff0f1 !important;
