<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body class="front">
    <section class="page-header">
      <h1 class="project-name"><div class="stslogo"></div><span>{{ site.title | default: site.github.repository_name }}</span></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      
      <a class="btn" href="/fred/">FRED User Docs</a>
      <a class="btn" href="/mqtt/">STS MQTT Docs</a>
      <a class="btn" href="/influxdb/">STS InfluxDB Docs</a>
      <div class="push-footer"></div>
    </section>

    {% include footer.html %}

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>

</html>
