<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body class="page">
    {% include header.html %}
    <section class="main-content">
      
      <div class="sidebar">
        {% include mqtt-sidebar.html %}
      </div>

      <div class="content">
        {{ content }}
      </div>

      <div class="push-footer"></div>
    </section>
    {% include footer.html %}

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}

  </body>
</html>